body {
    background: repeating-linear-gradient(
        15deg, #47126b,#ea698b , #47126b, #47126b 1000px);
    min-height: 100vh;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.bg1{
    background-image: url("./docs/images/goblinnet.png");
}
.bg2{
    background-image: url("./docs/images/owo.png");
}
.bg3{
    background-image: url("./docs/images/owhalflife.png");
}
.bg4{
    background-image: url("./docs/images/owscout.png");
}
.bg5{
    background-image: url("./docs/images/owshaders.png");
}
.bg6{
    background-image: url("http://placekitten.com/2000/1900");
}
.parallax {
    height: 300px;  
    width: 100%;
    overflow-anchor: bottom;
    margin-top: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {

    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-family: "Franklin Gothic Medium";
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: "Franklin Gothic Medium";
    color: whitesmoke;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rebeccapurple;
    padding-top: 0px;
}

.main_button {
    background-color: rebeccapurple;
    shape-margin: 50px;
    border-radius: 4px;
}

.art-showcase {
    
}