body {
    background-color: #161a1d;
    min-height: 100vh;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@font-face {
    font-family: Retron;
    src: url("./docs/Fonts/Retron2000.ttf");
}
@font-face {
    font-family: Dogica;
    src: url("./docs/Fonts/dogicapixel.otf");
}

.right{
   margin-right: 0px;
   margin-left: auto;
  }

.parallax {
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sidebar{
    position: fixed;
    color: whitesmoke;
    text-decoration: none;
}
.sidebarLink{
    color: whitesmoke;
    text-decoration: none;
}
.behind{
    z-index: -2;
}
canvas{
    position:absolute;
      left:0;
      top:0;
      width: 100%;
      height: 100%;
    image-rendering: pixelated;
    z-index: -1;
}
a{
    text-decoration-color: rgb(54, 54, 54);
    font-family: Dogica;
}

h1 {
    font-family: Retron;
    font-size: 100px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-family: Dogica;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: Dogica;
    color: whitesmoke;
    line-height: 25px;
}

p1 {
    font-family: "Franklin Gothic Medium";
    color: whitesmoke;
    text-align: center;
    display: block;
}