body {
    background-color: #161a1d;
    min-height: 100vh;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@font-face {
    font-family: Retron;
    src: url("./docs/Fonts/Retron2000.ttf");
}
@font-face {
    font-family: Dogica;
    src: url("./docs/Fonts/dogicapixel.otf");
}

.side-by-side{
    display:inline-block;
}
.parent {
    border: solid 1px whitesmoke;
    padding: 1rem;
  }
.child {
    padding: 1rem;
  }
  .right{
   margin-right: 0px;
   margin-left: auto;
  }

.parallax {
    height: 300px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration-color: rgb(54, 54, 54);
}
h1 {
    font-family: Retron;
    font-size: 100px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-family: Dogica;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: "Franklin Gothic Medium";
    color: whitesmoke;
}

p1 {
    font-family: "Franklin Gothic Medium";
    color: whitesmoke;
    text-align: center;
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rebeccapurple;
    padding-top: 0px;
}

.main_button {
    background-color: rebeccapurple;
    shape-margin: 50px;
    border-radius: 4px;
}